{% extends 'BabyAppBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="columns small-12">
            <h1>Baby Brouwer<small>&#x2122;</small>, wat wordt het?</h1>

            <p>
                Krijgen wij een jongen of een meisje?<br>
                <br>
                Wij zijn erg benieuwd wat <strong>jij</strong> denkt! Doe een gok en misschien krijg je wel gelijk!<br>
                <br>

            </p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-6">
            <div class="text-center">
                <h4>{{ total_votes }} mensen hebben al gegokt</h4>
                <a href="{{ url('baby_app_default_vote', {vote: 'boy'}) }}" class="vote-block boy">{{ boy_percentage }}%</a>
                <a href="{{ url('baby_app_default_vote', {vote: 'girl'}) }}" class="vote-block girl">{{ girl_percentage }}%</a>
                <div>
                    <small>Klik om ook een gokje te wagen</small>
                </div>
            </div>
        </div>
        <div class="columns small-6">
            <div class="panel basic radius">
                <h4>Kleine feitjes</h4>
                <ul class="no-bullet">
                    {% if overdue %}
                        <li><span class="label round alert">Uhoh! Waar blijft hij/zij nou?</span></li>
                    {% endif %}
                    <li><span class="label round info">{{ weeks_pregnant }} <strong>weken</strong> zwanger</span></li>
                    <li><span class="label round info">{{ months_pregnant }} <strong>maanden</strong> zwanger</span></li>
                </ul>
            </div>

            <ul class="inline-list">
                <li><a href="{{ url('baby_app_default_viewvoters') }}">Bekijk stemmers</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
